{% if syslogserver1 == 'logging host 192.168.1.1' %}
no logging host 192.168.1.1 
{% endif %}
{% if syslogserver2 == 'logging 192.168.1.1' %}
no logging 192.168.1.1
{% endif %}

logging 192.168.1.1
logging host 192.168.1.1



do write memory
